<%- include("partials/header"); -%>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
	<p>This web app was made for COSC349 Assignment 1</p>
        <p>All code by Thomas Roff</p>
        <a href="https://github.com/swaxmymoose/diary_app">See on GitHub</a>
      </div>
    </div>
<%- include("partials/footer"); -%>
