<!-- Author: Thomas Roff -->

<%- include("partials/header"); -%>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p>All code by Thomas Roff</p>
        <a href="https://github.com/swaxmymoose/diary_app">See on GitHub</a>
      </div>
    </div>
<%- include("partials/footer"); -%>
